<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About maApp</title>
  </head>
  <body>
  	{% extends "template.html" %}
  	{% block content %}

    <h1> About maApp </h1>
    <p> maApp is a web app written in Python using the Flask framework.</p>
    <p> The maApp application is a map reading tutorial for science teachers that have had to eliminate or compress some of their lessons, but want some resources for their students.</p>

    {% endblock %}
  </body>
</html>